body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

h1:hover {
  background-color: white;
  color: black;
}
.gfg {
    margin: 3%;
    position: relative;
}
       
.text-container {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 18rem;
    top: 2rem;
    background-color: rgb(41, 41, 41, 0.8);
    padding: 0 1rem;
.rs{
  width: 100%;
  height: auto;
}
